public/n8n-workflow-completo.json
{
  "name": "Sistema de Agendamentos - Notificações WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/Encha-Letty",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "encha-letty-agendamentos"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza os dados recebidos do webhook\nconst inputData = $input.item.json;\n\n// Extrai dados do booking\nconst booking = inputData.booking || inputData;\nconst settings = inputData.settings || {};\n\n// Formata o telefone (remove caracteres não numéricos)\nlet phone = booking.guest_phone || '';\nphone = phone.replace(/\\D/g, '');\n\n// Se não tiver DDI, adiciona 55 (Brasil)\nif (phone.length === 11 && !phone.startsWith('55')) {\n  phone = '55' + phone;\n}\n\n// Formata data e hora\nconst bookingDate = new Date(booking.booking_date);\nconst formattedDate = bookingDate.toLocaleDateString('pt-BR', {\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric'\n});\n\nconst formattedWeekday = bookingDate.toLocaleDateString('pt-BR', {\n  weekday: 'long'\n});\n\n// Formata horários (HH:MM)\nconst startTime = booking.start_time ? booking.start_time.substring(0, 5) : '';\nconst endTime = booking.end_time ? booking.end_time.substring(0, 5) : '';\n\n// Dados do serviço\nconst serviceName = booking.services?.name || booking.service_name || 'Serviço';\nconst serviceDuration = booking.services?.duration_minutes || booking.duration_minutes || 60;\nconst servicePrice = booking.services?.price || booking.price || 0;\n\n// Formata preço\nconst formattedPrice = new Intl.NumberFormat('pt-BR', {\n  style: 'currency',\n  currency: 'BRL'\n}).format(servicePrice);\n\n// Dados da agenda\nconst agendaTitle = booking.agendas?.title || booking.agenda_title || 'Agendamento';\n\n// Tipo de evento\nconst eventType = inputData.event_type || 'new_booking';\n\n// Mensagem personalizada de lembrete\nconst reminderMessage = settings.reminder_message || 'Olá! Este é um lembrete do seu agendamento.';\n\n// Configurações da instância WhatsApp\nconst instance = {\n  Server_url: 'https://webhook.gestorviana.com',\n  Name: 'encha-letty',\n  ApiKey: '4AB355A97A0C-4F79-A3E3-77E3C1306E27'\n};\n\n// Retorna dados normalizados\nreturn {\n  booking_id: booking.id || inputData.booking_id,\n  guest_name: booking.guest_name,\n  guest_phone: phone,\n  guest_email: booking.guest_email,\n  booking_date: booking.booking_date,\n  formatted_date: formattedDate,\n  formatted_weekday: formattedWeekday,\n  start_time: startTime,\n  end_time: endTime,\n  service_name: serviceName,\n  service_duration: serviceDuration,\n  service_price: servicePrice,\n  formatted_price: formattedPrice,\n  agenda_title: agendaTitle,\n  event_type: eventType,\n  reminder_message: reminderMessage,\n  notes: booking.notes || '',\n  status: booking.status || 'pending',\n  instance: instance\n};"
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Normaliza",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "equals",
              "value2": "new_booking"
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "É Novo Agendamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "equals",
              "value2": "booking_confirmed"
            }
          ]
        }
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "É Confirmação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "equals",
              "value2": "booking_cancelled"
            }
          ]
        }
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "É Cancelamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 700]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "operation": "equals",
              "value2": "reminder"
            }
          ]
        }
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "É Lembrete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 900]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nconst message = `🎉 *Novo Agendamento Recebido!*\\n\\n` +\n  `Olá *${data.guest_name}*! 👋\\n\\n` +\n  `Recebemos seu agendamento com sucesso!\\n\\n` +\n  `📋 *Detalhes:*\\n` +\n  `📅 Data: *${data.formatted_date}* (${data.formatted_weekday})\\n` +\n  `🕐 Horário: *${data.start_time}* às *${data.end_time}*\\n` +\n  `💼 Serviço: *${data.service_name}*\\n` +\n  `⏱️ Duração: *${data.service_duration} minutos*\\n` +\n  `💰 Valor: *${data.formatted_price}*\\n` +\n  (data.notes ? `\\n📝 Observações: ${data.notes}\\n` : '') +\n  `\\n⏳ Status: *Aguardando confirmação*\\n\\n` +\n  `Em breve entraremos em contato para confirmar! 😊`;\n\nreturn {\n  phone: data.guest_phone,\n  message: message,\n  instance: data.instance\n};"
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Mensagem Novo Agendamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nconst message = `✅ *Agendamento Confirmado!*\\n\\n` +\n  `Olá *${data.guest_name}*! 🎊\\n\\n` +\n  `Seu agendamento foi *CONFIRMADO* com sucesso!\\n\\n` +\n  `📋 *Detalhes:*\\n` +\n  `📅 Data: *${data.formatted_date}* (${data.formatted_weekday})\\n` +\n  `🕐 Horário: *${data.start_time}* às *${data.end_time}*\\n` +\n  `💼 Serviço: *${data.service_name}*\\n` +\n  `⏱️ Duração: *${data.service_duration} minutos*\\n` +\n  `💰 Valor: *${data.formatted_price}*\\n` +\n  (data.notes ? `\\n📝 Observações: ${data.notes}\\n` : '') +\n  `\\n✨ Tudo certo! Aguardamos você no horário marcado.\\n\\n` +\n  `Até breve! 😊🙏`;\n\nreturn {\n  phone: data.guest_phone,\n  message: message,\n  instance: data.instance\n};"
      },
      "id": "a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Mensagem Confirmação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nconst message = `❌ *Agendamento Cancelado*\\n\\n` +\n  `Olá *${data.guest_name}*,\\n\\n` +\n  `Informamos que seu agendamento foi *cancelado*.\\n\\n` +\n  `📋 *Detalhes do agendamento cancelado:*\\n` +\n  `📅 Data: ${data.formatted_date} (${data.formatted_weekday})\\n` +\n  `🕐 Horário: ${data.start_time} às ${data.end_time}\\n` +\n  `💼 Serviço: ${data.service_name}\\n\\n` +\n  `Se desejar fazer um novo agendamento, ficaremos felizes em atendê-lo! 😊\\n\\n` +\n  `Entre em contato conosco quando quiser.`;\n\nreturn {\n  phone: data.guest_phone,\n  message: message,\n  instance: data.instance\n};"
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Mensagem Cancelamento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 600]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nconst message = `⏰ *Lembrete de Agendamento*\\n\\n` +\n  `${data.reminder_message}\\n\\n` +\n  `Olá *${data.guest_name}*! 👋\\n\\n` +\n  `Este é um lembrete do seu agendamento:\\n\\n` +\n  `📋 *Detalhes:*\\n` +\n  `📅 Data: *${data.formatted_date}* (${data.formatted_weekday})\\n` +\n  `🕐 Horário: *${data.start_time}* às *${data.end_time}*\\n` +\n  `💼 Serviço: *${data.service_name}*\\n` +\n  `⏱️ Duração: *${data.service_duration} minutos*\\n` +\n  `💰 Valor: *${data.formatted_price}*\\n` +\n  (data.notes ? `\\n📝 Observações: ${data.notes}\\n` : '') +\n  `\\n📍 Não esqueça! Estamos aguardando você.\\n\\n` +\n  `Até logo! 😊✨`;\n\nreturn {\n  phone: data.guest_phone,\n  message: message,\n  instance: data.instance\n};"
      },
      "id": "c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Mensagem Lembrete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.instance.Server_url }}/message/sendText/{{ $json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.instance.ApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Envia WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1040, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Notificação enviada com sucesso\",\n  \"booking_id\": $('Normaliza').item.json.booking_id,\n  \"event_type\": $('Normaliza').item.json.event_type,\n  \"sent_to\": $('Normaliza').item.json.guest_phone,\n  \"timestamp\": new Date().toISOString()\n} }}"
      },
      "id": "e1f2a3b4-c5d6-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "Responde Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1240, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza": {
      "main": [
        [
          {
            "node": "É Novo Agendamento?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Confirmação?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Cancelamento?",
            "type": "main",
            "index": 0
          },
          {
            "node": "É Lembrete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Novo Agendamento?": {
      "main": [
        [
          {
            "node": "Mensagem Novo Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Confirmação?": {
      "main": [
        [
          {
            "node": "Mensagem Confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Cancelamento?": {
      "main": [
        [
          {
            "node": "Mensagem Cancelamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Lembrete?": {
      "main": [
        [
          {
            "node": "Mensagem Lembrete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Novo Agendamento": {
      "main": [
        [
          {
            "node": "Envia WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Confirmação": {
      "main": [
        [
          {
            "node": "Envia WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Cancelamento": {
      "main": [
        [
          {
            "node": "Envia WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Lembrete": {
      "main": [
        [
          {
            "node": "Envia WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia WhatsApp": {
      "main": [
        [
          {
            "node": "Responde Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-10T00:00:00.000Z",
  "versionId": "1"
}